<footer>
	<p>Todos los derechos reservados</p>
</footer>

	<script src="/jquery/jquery.min.js"></script>
	<script src="/popper/popper.min.js"></script>
	<script src="/bootstrapjs/bootstrap.min.js"></script>

</body>

</html>
