{{>header}}



<div class="jumbotron">
	<div class="container">
		<header>
			<h1>Como {{Rol}}</h1>
			<p>{{CursoCreado}} </p>
		</header>
	</div>
</div> 

{{{ListarCursos cursos admin}}}

{{#if admin}}
<div style="padding:4%;">
	<form action="/ActualizarEstado" method="post">
		<div class="form-row" style="align-items: center;text-align: center;">
			<div class="col">
				<label for="Id">Curso</label>
			</div>
			<div class="col">
				{{{ListarCursosDropdown activos}}}
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Actualizar</button>
			</div>
		</div>

	</form>
</div>
{{/if}}




{{>footer}}